body {

    background-color: #EAF6F6;
}

hr{

    border-style: none;
    border-top-style: dotted;
    border-color:  rgb(180, 180, 184);
    border-width: 7px;
    width: 7%;
}

h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}